<div class="auth-container">
  <div class="auth-card">

    <h2>Create Account</h2>

    <div class="input-group">
      <input [(ngModel)]="username" placeholder="Username" />
    </div>

    <div class="input-group">
      <input [(ngModel)]="password" type="password" placeholder="Password" />
    </div>

    <button class="btn" (click)="signup()" [disabled]="loading">
      {{ loading ? "Loading..." : "Sign Up" }}
    </button>

    <div class="success" *ngIf="success">{{ success }}</div>
    <div class="error" *ngIf="error">{{ error }}</div>

    <p class="switch" (click)="goLogin()">Back to login</p>
  </div>
</div>
