<div class="auth-container">
  <div class="auth-card">

    <h2>Login</h2>

    <div class="input-group">
      <input [(ngModel)]="username" placeholder="Username" />
    </div>

    <div class="input-group">
      <input [(ngModel)]="password" type="password" placeholder="Password" />
    </div>

    <button class="btn" (click)="login()" [disabled]="loading">
      {{ loading ? "Loading..." : "Login" }}
    </button>

    <div class="error" *ngIf="error">{{ error }}</div>

    <p class="switch" (click)="goSignup()">Create an account</p>
  </div>
</div>
